@font-face {
    font-family: 'Simpsonfont';
    font-style: normal;
    font-weight: normal;
    src: local('Simpsonfont'), url('Simpsonfont.woff') format('woff');
}

.enterTopicField {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.topic_button {
    font-family: Simpsonfont;
    background-color: #FFD90F;
    border-radius: 5px;
}

#topic-text {
    width: 300px;
}